{% extends 'base.html.twig' %}

{% block title %}Bennes solidaires - Chercher{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset('css/annonce-chercher.css') }}>
<link rel="stylesheet" href={{ asset('css/header.css') }}>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
{% endblock %}


{% block body %}

    {% include 'partials/header.html.twig' %}

    <div class="container" id="container">
            <section id="inscription">
                <div class="scrolling-text-container">
                    <p class="scrolling-text">Je cherche un matériau</p>
                    <p class="scrolling-text">Je cherche un matériau</p>
                    <p class="scrolling-text">Je cherche un matériau</p>
                    <p class="scrolling-text">Je cherche un matériau</p>
                </div>
                <div class="bordure mb-4"></div>

                {{ form_start(searchForm, {'attr': {'id': 'search-form'}}) }}
                    
                    {{ form_row(searchForm.classification) }}
                    <button id="openModal" type="button">Pour en savoir plus, vous pouvez cliquer ici.</button>
                    
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="first-content">
                                <p class="mb-5">Les matériaux bio-sourcés sont des matériaux qui sont dérivés de matières
                                    premières
                                    renouvelables
                                    d'origine biologique, généralement issues de plantes, d'arbres, ou d'autres organismes
                                    vivants. Les
                                    exemples de matériaux bio-sourcés comprennent le bois, la paille, le liège, la fibre de
                                    lin, le
                                    bambou, etc. L'utilisation de matériaux bio-sourcés est souvent associée à des avantages
                                    environnementaux, car ils sont généralement considérés comme plus durables et moins
                                    nocifs pour
                                    l'environnement que les matériaux synthétiques dérivés du pétrole.</p>
                            </div>
                            
                            <div class="second-content">
                                <p>Les matériaux géo-sourcés, eux, sont des matériaux qui sont extraits directement de la
                                    Terre,
                                    généralement à partir de ressources minérales ou de roches. Les exemples de matériaux
                                    géo-sourcés
                                    comprennent le sable, le gravier, la pierre, l'argile, les métaux, les minéraux, etc.
                                    Contrairement
                                    aux matériaux bio-sourcés, les matériaux géo-sourcés ne sont pas dérivés de matières
                                    premières
                                    renouvelables, mais sont plutôt issus de ressources naturelles non vivantes présentes
                                    dans le sol ou
                                    le sous-sol de la Terre.</p>
                            </div>
                        </div>
                    </div>

                    <div id="material-label">
                    <label>Matériau</label>
                    </div>
                    <select name="material-geo-select" id="material-geo-select" style="display: none;">
                        <option value="">--</option>
                        {% for material in materials %}
                            {% if material.classificationMaterial.name == 'Matériau géo-sourcé' %}
                                <option class="material-geo-source" value={{ material.material }}>{{ material.material }}</option>
                            {% endif %}
                        {% endfor %}
                        <option value="add-an-material-geo">Le matériau ne figure pas dans la liste</option>
                    </select>

                    <select name="material-bio-select" id="material-bio-select">
                        <option value="">--</option>
                        {% for material in materials %}
                            {% if material.classificationMaterial.name == 'Matériau bio-sourcé' %}
                                <option value={{ material.material }}>{{ material.material }}</option>
                            {% endif %}
                        {% endfor %}
                        <option value="add-an-material-bio">Le matériau ne figure pas dans la liste</option>
                    </select>

                    <div class="add" style="display:none;">
                        <label for="new-material" class="new-material">Ajouter</label>
                        <input type="text" id="new-material" placeholder="Entrez un autre matériau">
                    </div>

                    {{ form_label(searchForm.geographicalArea) }}
                    {{ form_widget(searchForm.geographicalArea) }}

                    {# <div id="map"></div> #}

                    <div id="announces" data-announces="{{ announces|json_encode }}"></div>

                    {# <div class="custom-popup"></div> #}

                        <div class="foot_form">
                            {# <p>Vous ne trouvez pas ce que vous cherchez ?</p> #}
                            <input type="submit" value="Valider mon annonce">
                        </div>

                {{ form_end(searchForm) }}
            </section>
        </div>

    {% endblock %}

{% block javascripts %}
    <script src={{ asset('js/overall-scrolling.js') }}></script>
    <script src={{ asset('js/select-material-search.js') }}></script>
    <script src={{ asset('js/map.js') }}></script>
    <script src={{ asset('js/modale.js') }}></script>
    <script src={{ asset('https://unpkg.com/leaflet/dist/leaflet.js') }}></script>
{% endblock %}
