{% extends 'base.html.twig' %}

{% block title %}Bennes solidaires - Inscription{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset('css/header.css') }}>
<link rel="stylesheet" href={{ asset('/css/register.css') }}>
{% endblock %}


{% block body %}

    {% include 'partials/header.html.twig' %}

        <div class="container" id="container">
        <div class="scrolling-text-container">
                    <p class="scrolling-text">Page d'inscription</p>
                    <p class="scrolling-text">Page d'inscription</p>
                    <p class="scrolling-text">Page d'inscription</p>
                    <p class="scrolling-text">Page d'inscription</p>
                </div>
                <div class="bordure mb-4"></div>
            <section id="inscription">

                {{ form_start(registrationForm, {
                    'attr' : {
                    'class' : 'registration_form',
                    'role' : 'form',
                    }
                }) }}
                

                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                        <div class="checkbox mb-3" id="particulier">
                        {% block professional_widget %}
                            {% for child in registrationForm.professional %}
                                <div class="custom-control custom-radio {% if child.vars.value == 'particulier' %}particulier{% elseif child.vars.value == 'professional' %}professional{% endif %}">
                                {{ form_widget(child) }}
                                <label class="custom-control-label" for="{{ child.vars.id }}">{{ child.vars.label }}</label>
                                </div>
                            {% endfor %}
                        {% endblock professional_widget %}
                        </div>

                        <div class="text_rgpd mb-4" id="text_rgpd" style="display: none;">
                            <p>En cochant cette case, vous consentez à ce que nous utilisions les informations
                                concernant
                                votre
                                secteur d'activité pour établir des statistiques internes sur notre site. Ces données
                                seront
                                traitées de manière anonymes et utilisées uniquement dans le but d'améliorer notre
                                service
                                en
                                connaissant mieux notre public.</p>
                        </div>

                    <div class="list_professionnal">
                        {{ form_label(registrationForm.sectorActivity, 'Secteur d\'activité') }}
                        {{ form_widget(registrationForm.sectorActivity) }}
                    </div>

                    {{ form_label(registrationForm.firstname) }}
                    {{ form_widget(registrationForm.firstname)}}

                    {{ form_label(registrationForm.lastname) }}
                    {{ form_widget(registrationForm.lastname)}}

                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email)}}
                    {% if registrationForm.email.vars.errors|length > 0 %}
                    <ul class="custom-error-list">
                        {% for error in registrationForm.email.vars.errors %}
                            <li class="custom-error-item">{{ error.message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                
                    {{ form_label(registrationForm.identifier) }}
                    {{ form_widget(registrationForm.identifier)}}
                    {% if registrationForm.identifier.vars.errors|length > 0 %}
                    <ul class="custom-error-list">
                        {% for error in registrationForm.identifier.vars.errors %}
                            <li class="custom-error-item">{{ error.message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    <div class="avatar">
                    {{ form_label(registrationForm.avatar) }}
                    {{ form_widget(registrationForm.avatar) }}

                    {% if registrationForm.avatar.vars.errors|length > 0 %}
                        <ul class="custom-error-list">
                            {% for error in registrationForm.avatar.vars.errors %}
                                <li class="custom-error-item">{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    </div>

                    {{ form_label(registrationForm.plainPassword.first) }}
                    {{ form_widget(registrationForm.plainPassword.first) }}

                    {{ form_label(registrationForm.plainPassword.second) }}
                    {{ form_widget(registrationForm.plainPassword.second) }}

                    {% if registrationForm.plainPassword.first.vars.errors|length > 0 %}
                        <ul class="custom-error-list">
                            {% for error in registrationForm.plainPassword.first.vars.errors %}
                                <li class="custom-error-item">{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if registrationForm.plainPassword.second.vars.errors|length > 0 %}
                        <ul class="custom-error-list">
                            {% for error in registrationForm.plainPassword.second.vars.errors %}
                                <li class="custom-error-item">{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    
                    <div class="custum-checkbox">
                        {{ form_widget(registrationForm.agreeTerms) }}
                        {{ form_label(registrationForm.agreeTerms) }}
                        
                        {% if registrationForm.agreeTerms.vars.errors|length > 0 %}
                            <ul class="custom-error-list">
                                {% for error in registrationForm.agreeTerms.vars.errors %}
                                    <li class="custom-error-item">{{ error.message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="confidentials">
                    <a href={{ path('app_page_de_confidentialite') }} class="click_confidentials">Voir notre politique de confidentialité</a>
                    </div>

                    <div class="foot_form">
                        {{ form_row(registrationForm.submit) }}
                        <a href={{ path('app_login') }}>Vous possédez déjà un compte ?</a>
                        <a href={{ path('app_login') }}>Cliquez ici !</a>
                    </div>

                    {{ form_end(registrationForm) }}

            </section>
        </div>

    {% endblock %}

{% block javascripts %}
    <script src={{ asset('js/overall-scrolling.js') }}></script>
    <script src={{ asset('js/registration.js') }}></script>
    <script src={{ asset('js/submit-registration.js') }}></script>
{% endblock %}



