    <header id="header">
        <div class="container_menu">
            <div>
                <a href={{ path('app_accueil') }} class="logo"><img src={{ asset('images/Bennes-solidaires.webp') }}
                        alt="Bennes solidaires"></a>
            </div>

            <div class="navbar">
                <ul class="links">
                    <li><a href={{ path('app_accueil') }}>ACCUEIL</a></li>

                    <div class="circle_menu"></div>

                    <li class="dropdown">
                        <a href="#deposer">DÉPOSER UNE ANNONCE</a>
                        <ul class="dropdown-menu_one">
                            <li><a href={{ path('app_annonce_chercher') }}>Chercher un matériau</a></li>
                            <li><a href={{ path('app_annonce_donner') }}>Donner un matériau</a></li>
                        </ul>
                    </li>
                    <div class="circle_menu"></div>

                    <li class="dropdown">
                        {% if app.user %}
                            <a href='#'>{{ app.user.identifier }}</a> 
                        <ul class="dropdown-menu_two">
                            <li><a href={{ path('app_profil') }}>Voir mon profil</a></li>
                            <li><a href={{ path('app_mes_annonces') }}>Mes annonces</a></li>
                            <li><a href={{ path('app_messagerie') }}>Messagerie</a></li>
                            <li><a href={{ path('app_logout') }}>Déconnexion</a></li>
                        </ul>

                        {% else %}
                        
                        <a href={{ path('app_login') }}>CONNEXION</a>
                        <ul class="dropdown-menu_two">
                            <li><a href={{ path('app_login') }}>Connexion</a></li>
                            <li><a href={{ path('app_register') }}>Inscription</a></li>
                        </ul>
                        {% endif %}
                    </li>

                    <div class="circle_menu"></div>

                    <li><a href={{ path('app_accueil') }}#adhesion>ADHÉSION</a></li>

                    <div class="circle_menu"></div>

                    <li><a href={{ path('app_accueil') }}#contact>CONTACT</a></li>
                </ul>

                <div class="burger-menu-button" id="nav-toggle">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </div>

        <div class="burger-menu" id="nav-menu">
            <ul class="links">
                <li><a href={{ path('app_accueil') }}>ACCUEIL</a></li>
                <li><a href={{ path('app_accueil') }}#deposer>DÉPOSER UNE ANNONCE</a></li>
                <li><a href={{ path('app_login') }}>CONNEXION</a></li>
                <li><a href={{ path('app_accueil') }}#adhesion>ADHÉSION</a></li>
                <li><a href={{ path('app_accueil') }}#contact>CONTACT</a></li>
            </ul>
        </div>
    </header>