{% extends 'base.html.twig' %}

{% block title %}Bennes solidaires - Modifier mes informations{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset('css/header.css') }}>
<link rel="stylesheet" href={{ asset('/css/register.css') }}>
{% endblock %}


{% block body %}

    {% include 'partials/header.html.twig' %}

        <div class="container" id="container">
            <section id="inscription">
                <div class="scrolling-text-container">
                    <p class="scrolling-text">Modifier mes informations</p>
                    <p class="scrolling-text">Modifier mes informations</p>
                    <p class="scrolling-text">Modifier mes informations</p>
                    <p class="scrolling-text">Modifier mes informations</p>
                </div>
                <div class="bordure mb-4"></div>


                {{ form_start(form, {
                    'attr' : {
                    'class' : 'registration_form',
                    'role' : 'form',
                    }
                }) }}

                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                        <div class="checkbox mb-3" id="particulier">
                        {% block professional_widget %}
                            {% for child in form.professional %}
                                <div class="custom-control custom-radio {% if child.vars.value == 'particulier' %}particulier{% elseif child.vars.value == 'professional' %}professional{% endif %}">
                                {{ form_widget(child) }}
                                <label class="custom-control-label" for="{{ child.vars.id }}">{{ child.vars.label }}</label>
                                </div>
                            {% endfor %}
                        {% endblock professional_widget %}
                        </div>

                        <div class="text_rgpd mb-4" id="text_rgpd" style="display: none;">
                            <p>En cochant cette case, vous consentez à ce que nous utilisions les informations
                                concernant
                                votre
                                secteur d'activité pour établir des statistiques internes sur notre site. Ces données
                                seront
                                traitées de manière anonymes et utilisées uniquement dans le but d'améliorer notre
                                service
                                en
                                connaissant mieux notre public.</p>
                        </div>

                    <div class="list_professionnal">
                        {{ form_label(form.sectorActivity, 'Secteur d\'activité') }}
                        {{ form_widget(form.sectorActivity) }}
                    </div>

                    {{ form_label(form.firstname) }}
                    {{ form_widget(form.firstname)}}                    

                    {{ form_label(form.lastname) }}
                    {{ form_widget(form.lastname) }}

                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                
                    {{ form_label(form.identifier) }}
                    {{ form_widget(form.identifier) }}

                    <div class="avatar">
                    {{ form_label(form.avatar) }}
                    {{ form_widget(form.avatar) }}

                    {{ form_errors(form.avatar) }}
                    </div>

                    {{ form_widget(form.plainPassword) }}

                    <div class="foot_form">
                        {{ form_row(form.submit) }}
                    </div>

                    {{ form_end(form) }}
            </section>
        </div>

    {% endblock %}

{% block javascripts %}
    <script src={{ asset('js/overall-scrolling.js') }}></script>
    <script src={{ asset('js/modifications-informations.js') }}></script>
{% endblock %}



