{% extends 'base.html.twig' %}

{% block title %}Bennes solidaires - Rechercher{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset('css/rechercher.css') }}>
<link rel="stylesheet" href={{ asset('css/header.css') }}>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
{% endblock %}

{% block body %}

    {% include 'partials/header.html.twig' %}

    <div class="container" id="container">

    <input type='hidden' value={{announces[0].geographicalArea}} id="geographicalArea">
    <input type='hidden' value={{announces[0].material}} id="material">

        <section id="research">    
                <div class="action_research">
                    <div id="map"></div>
                    <div class="custom-popup">
                    {% if announces is not empty %}
                        <div id="announces" data-announces='{{ Json|raw }}'></div>
                    {% else %}
                        <p>Aucune annonce trouvée pour ce matériau et cette zone géographique.</p>
                    {% endif %}
                    {# <div id="announces" data-announces='{{ Json|raw }}'></div> #}
                    </div>
                </div>
        </section>
    </div>

    

{% endblock %}

{% block javascripts %}
    <script src={{ asset('js/overall-scrolling.js') }}></script>
    <script src={{ asset('js/show.js') }}></script>
    <script src={{ asset('https://unpkg.com/leaflet/dist/leaflet.js') }}></script>
{% endblock %}