{% extends 'base.html.twig' %}

{% block title %}Bennes solidaires - Rechercher{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset('css/rechercher.css') }}>
<link rel="stylesheet" href={{ asset('css/header.css') }}>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
{% endblock %}

{% block body %}

    {% include 'partials/header.html.twig' %}

    <div class="container" id="container">
        <div class="scrolling-text-container">
                    <p class="scrolling-text">Je recherche un matériau</p>
                    <p class="scrolling-text">Je recherche un matériau</p>
                    <p class="scrolling-text">Je recherche un matériau</p>
                    <p class="scrolling-text">Je recherche un matériau</p>
                </div>

                <div class="bordure mb-4"></div>
                
            
        {% if announces is not empty %}
        <input type='hidden' value={{announces[0].geographicalArea}} id="geographicalArea">
        <input type='hidden' value={{announces[0].material}} id="material">

        <section id="research">    
                <div class="action_research">
                    <div id="map"></div>
                    <div class="back">
                        <a href={{ path('app_rechercher') }}>Revenir en arrière</a>
                    </div>
                    <div class="custom-popup">
                        <div id="announces" data-announces='{{ Json|raw|e('html_attr') }}'></div>
                    </div>
                </div>
        </section>
        {% else %}
        <div class="no_result">
            <p>Aucune annonce trouvée pour ce matériau et cette zone géographique.</p>
        </div>
            <div class="back">
                <a href={{ path('app_rechercher') }}>Revenir en arrière</a>
            </div>
        {% endif %}
    </div>

    

{% endblock %}

{% block javascripts %}
    <script src={{ asset('js/overall-scrolling.js') }}></script>
    <script src={{ asset('js/show.js') }}></script>
    <script src={{ asset('https://unpkg.com/leaflet/dist/leaflet.js') }}></script>
{% endblock %}