{% extends 'base.html.twig' %}

{% block title %}Bennes solidaires - Donner{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset('css/annonce-donner.css') }}>
{% endblock %}


{% block body %}

    {% include 'partials/header.html.twig' %}

    <div class="container" id="container">
            <section id="inscription">
                <div class="scrolling-text-container">
                    <p class="scrolling-text">Je donne un matériau</p>
                    <p class="scrolling-text">Je donne un matériau</p>
                    <p class="scrolling-text">Je donne un matériau</p>
                    <p class="scrolling-text">Je donne un matériau</p>
                </div>
                <div class="bordure mb-4"></div>

                <form action="" method="POST">
                    <label for="classification-select" class="classification-select">Classification</label>
                    <select name="classification" id="classification-select" required onchange="toggleMaterialSelect()">
                        <option value="">--</option>
                        <option value="Matériau bio-sourcé">Matériau bio-sourcé</option>
                        <option value="Matériau géo-sourcé">Matériau géo-sourcé</option>
                    </select>

                    <button id="openModal" type="button">Pour en savoir plus, vous pouvez cliquer ici.</button>
                    
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="first-content">
                                <p class="mb-5">Les matériaux bio-sourcés sont des matériaux qui sont dérivés de matières
                                    premières
                                    renouvelables
                                    d'origine biologique, généralement issues de plantes, d'arbres, ou d'autres organismes
                                    vivants. Les
                                    exemples de matériaux bio-sourcés comprennent le bois, la paille, le liège, la fibre de
                                    lin, le
                                    bambou, etc. L'utilisation de matériaux bio-sourcés est souvent associée à des avantages
                                    environnementaux, car ils sont généralement considérés comme plus durables et moins
                                    nocifs pour
                                    l'environnement que les matériaux synthétiques dérivés du pétrole.</p>
                            </div>
                            
                            <div class="second-content">
                                <p>Les matériaux géo-sourcés, eux, sont des matériaux qui sont extraits directement de la
                                    Terre,
                                    généralement à partir de ressources minérales ou de roches. Les exemples de matériaux
                                    géo-sourcés
                                    comprennent le sable, le gravier, la pierre, l'argile, les métaux, les minéraux, etc.
                                    Contrairement
                                    aux matériaux bio-sourcés, les matériaux géo-sourcés ne sont pas dérivés de matières
                                    premières
                                    renouvelables, mais sont plutôt issus de ressources naturelles non vivantes présentes
                                    dans le sol ou
                                    le sous-sol de la Terre.</p>
                            </div>
                        </div>
                    </div>

                    <label for="material-geo-select" class="material-select-geo"
                        style="display: none;">Matériaux</label>
                    <select name="material-geo-select" id="material-geo-select" required style="display: none;">
                        <option value="">--</option>
                        <option value="material geo-source">Brique</option>
                        <option value="material geo-source">Céramique</option>
                        <option value="material geo-source">Gravier</option>
                        <option value="material geo-source">Pierre</option>
                        <option value="material geo-source">Sable</option>
                        <option value="material geo-source">Terre</option>
                        <option value="material geo-source">Verre</option>
                        <option value="add-an-material-geo">Le matériau ne figure pas dans la liste</option>
                    </select>

                    <label for="material-bio-select" class="material-select-bio"
                        style="display: none;">Matériaux</label>
                    <select name="material-bio-select" id="material-bio-select" required style="display: none;">
                        <option value="">--</option>
                        <option value="material bio-source">Bambou</option>
                        <option value="material bio-source">Bois</option>
                        <option value="material bio-source">Canne-de-provence</option>
                        <option value="material bio-source">Chanvre</option>
                        <option value="material bio-source">Coquille d'huître</option>
                        <option value="material bio-source">Coquille d'escargot</option>
                        <option value="material bio-source">Laine de mouton</option>
                        <option value="material bio-source">Liège</option>
                        <option value="material bio-source">Marc de café</option>
                        <option value="material bio-source">Papier</option>
                        <option value="material bio-source">Papier-journal</option>
                        <option value="material bio-source">Paille de blé</option>
                        <option value="material bio-source">Paille de lavande</option>
                        <option value="material bio-source">Roseau</option>
                        <option value="material bio-source">Sciure de bois</option>
                        <option value="add-an-material-bio">Le matériau ne figure pas dans la liste</option>
                    </select>

                    <div class="add" style="display: none;">
                        <label for="new-material" class="new-material">Ajouter</label>
                        <input type="text" id="new-material" placeholder="Entrer un autre matériau" required>
                    </div>

                    <div class="quantity">
                        <label for="number" class="quantity-select">Quantité</label>
                        <select name="number-select" id="quantity-select" required>
                            <option value="">--</option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>

                        <label for="value" class="value-select">Valeur</label>
                        <select name="value" id="value-select" required>
                            <option value="">--</option>
                            <option value="kg">kg</option>
                            <option value="kg">tonne(s)</option>
                            <option value="sceau">seau(x)</option>
                            <option value="sceau">gamate(s)</option>
                            <option value="metres">mètre(s) linéaire(s)</option>
                            <option value="metres carres">mètre(s) carré(s)</option>
                            <option value="metres cubes">mètre(s) cube(s)</option>
                        </select>
                    </div>

                    <div class="file">
                        <label for="file">Joindre des photos</label>
                        <input id="file" type="file" name="file" placeholder="Choisir un fichier" required>
                    </div>

                    <div class="message_enter">
                        <label for="description">Description</label>
                        <textarea id="message" placeholder="Entrer la description ici" required></textarea>
                    </div>

                    <label for="geographical">Localisation</label>
                    <input id="geographical" type="text" name="geographical" placeholder="Entrer le code postal"
                    required>

                    <div class="foot_form">
                        <input type="submit" value="Valider mon annonce">
                    </div>
                </form>
            </section>
        </div>

        {% endblock %}

{% block javascripts %}
    {{ asset('js/overall-scrolling.js') }}
    {{ asset('js/select-material.js') }}
    {{ asset('js/quantity-material.js') }}
    {{ asset('js/add-material.js') }}
    {{ asset('js/search-city.js') }}
    {{ asset('js/modale.js') }}
    {{ asset('https://unpkg.com/leaflet/dist/leaflet.js') }}
{% endblock %}
