{% extends 'base.html.twig' %}

{% block title %}Bennes solidaires - Donner{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset('css/annonce-donner.css') }}>
{% endblock %}


{% block body %}

    {% include 'partials/header.html.twig' %}

    <div class="container" id="container">
            <section id="inscription">
                <div class="scrolling-text-container">
                    <p class="scrolling-text">Je donne un matériau</p>
                    <p class="scrolling-text">Je donne un matériau</p>
                    <p class="scrolling-text">Je donne un matériau</p>
                    <p class="scrolling-text">Je donne un matériau</p>
                </div>
                <div class="bordure mb-4"></div>

                {{ form_start(giveForm) }}

                    {{ form_label(giveForm.classification) }}
                    {{ form_widget(giveForm.classification) }}

                    <button id="openModal" type="button">Pour en savoir plus, vous pouvez cliquer ici.</button>
                    
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="first-content">
                                <p class="mb-5">Les matériaux bio-sourcés sont des matériaux qui sont dérivés de matières
                                    premières
                                    renouvelables
                                    d'origine biologique, généralement issues de plantes, d'arbres, ou d'autres organismes
                                    vivants. Les
                                    exemples de matériaux bio-sourcés comprennent le bois, la paille, le liège, la fibre de
                                    lin, le
                                    bambou, etc. L'utilisation de matériaux bio-sourcés est souvent associée à des avantages
                                    environnementaux, car ils sont généralement considérés comme plus durables et moins
                                    nocifs pour
                                    l'environnement que les matériaux synthétiques dérivés du pétrole.</p>
                            </div>
                            
                            <div class="second-content">
                                <p>Les matériaux géo-sourcés, eux, sont des matériaux qui sont extraits directement de la
                                    Terre,
                                    généralement à partir de ressources minérales ou de roches. Les exemples de matériaux
                                    géo-sourcés
                                    comprennent le sable, le gravier, la pierre, l'argile, les métaux, les minéraux, etc.
                                    Contrairement
                                    aux matériaux bio-sourcés, les matériaux géo-sourcés ne sont pas dérivés de matières
                                    premières
                                    renouvelables, mais sont plutôt issus de ressources naturelles non vivantes présentes
                                    dans le sol ou
                                    le sous-sol de la Terre.</p>
                            </div>
                        </div>
                    </div>


                    {{ form_label(giveForm.material) }}
                    {{ form_widget(giveForm.material) }}
                    {# <div id="material-label" style="display: none;">
                    {{ form_label(giveForm.material) }}
                    </div>
                    <select name="material-geo-select" id="material-geo-select" style="display: none;">
                        <option value="">--</option>
                        {% for material in materials %}
                        {% if material.classificationMaterial.name == 'Matériau géo-sourcé' %}
                        <option class="material-geo-source" value={{ material.material }}>{{ material.material }}</option>
                        {% endif %}
                        {% endfor %}
                        <option value="add-an-material-geo">Le matériau ne figure pas dans la liste</option>
                    </select>

                    <select name="material-bio-select" id="material-bio-select" style="display: none;">
                        <option value="">--</option>
                        {% for material in materials %}
                        {% if material.classificationMaterial.name == 'Matériau bio-sourcé' %}
                        <option value={{ material.material }}>{{ material.material }}</option>
                        {% endif %}
                        {% endfor %}
                        <option value="add-an-material-bio">Le matériau ne figure pas dans la liste</option>
                    </select> #}

                    {# REVOIR LE CODE JS / NE S'AFFICHE PLUS #}
                    <div class="add" style="display: none;">
                        <label for="new-material" class="new-material">Ajouter</label>
                        <input type="text" id="new-material" placeholder="Entrer un autre matériau">
                    </div>

                        {{ form_label(giveForm.number) }}
                        {{ form_widget(giveForm.number) }}
                    {# <div class="quantity">
                        <label for="number" class="quantity-select">Quantité</label>
                            <select name="number-select" id="quantity-select">
                                <option value="">--</option>
                                {% for i in 1..100 %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select> #}

                        {{ form_label(giveForm.value) }}
                        {{ form_widget(giveForm.value) }}
                        {# <label for="value" class="value-select">Valeur</label> #}
                        {# <select name="value" id="value-select">
                            <option value="">--</option>
                            <option value="kg">kg</option>
                            <option value="kg">tonne(s)</option>
                            <option value="sceau">seau(x)</option>
                            <option value="sceau">gamate(s)</option>
                            <option value="metres">mètre(s) linéaire(s)</option>
                            <option value="metres carres">mètre(s) carré(s)</option>
                            <option value="metres cubes">mètre(s) cube(s)</option>
                        </select> #}

                    {# <div class="file">
                        <label for="file">Joindre des photos</label>
                        <input id="file" type="file" name="file" placeholder="Choisir un fichier" required>
                    </div> #}

                    {{form_row(giveForm.photo)}}


                    {{ form_label(giveForm.geographicalArea) }}
                    {{ form_widget(giveForm.geographicalArea) }}
                    {# <label for="geographical">Localisation</label>
                    <input id="geographical" type="text" name="geographical" placeholder="Entrer le code postal"
                    required> #}

                    {{ form_label(giveForm.description) }}
                    {{ form_widget(giveForm.description) }}
                    {# <div class="message_enter">
                        <label for="description">Description</label>
                        <textarea id="message" placeholder="Entrer la description ici" required></textarea>
                    </div> #}
                    
                    <div class="foot_form">
                        <input type="submit" value="Valider mon annonce">
                    </div>
                {{form_end(giveForm)}}
            </section>
    </div>
        {% endblock %}

{% block javascripts %}
    <script src={{ asset('js/overall-scrolling.js') }}></script>
    <script src={{ asset('js/select-material-give.js') }}></script>
    <script src={{ asset('js/quantity-material.js') }}></script>
    <script src={{ asset('js/search-city.js') }}></script>
    <script src={{ asset('js/modale.js') }}></script>
    <script src={{ asset('https://unpkg.com/leaflet/dist/leaflet.js') }}></script>
{% endblock %}
