{% extends 'base.html.twig' %}

{% block title %}Bennes solidaires - Messagerie mobile{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset('css/annonce-donner.css') }}>
{% endblock %}


{% block body %}

    {% include 'partials/header.html.twig' %}

    <div class="nav-two">
            <!-- RETOUR VERS LA PAGE PRÉCÉDENTE -->
            <a href="#" onclick="history.back(); return false;"><i class="fa-solid fa-chevron-left"></i></a>
            <!-- NOM DE L'UTILISATEUR ET DÉLAI -->
            <img src={{ asset('images/BS.webp') }} class="avatar">
            <div class="info_user">
                <h1><span>BARNABÉ</span></h1>
                <p>En ligne il y a 1h</p>
            </div>
        </div>

        <div class="container">

            <div class="message_user_one">
                <img src={{ asset('images/BS.webp') }} class="avatar">
                <div class="bubble_one">
                    <p>Bonjour Barnabé,
                        Je suis intéressée par vos bottes de paille, pouvez-vous me communiquer vos disponibilités pour
                        venir les récupérer ?</p>
                </div>
                <div class="datetime pt-3 px-5">LE 06 MAI À 10h12</div>
            </div>

            <div class="message_user_two">
                <img src={{ asset('images/BS.webp') }} class="avatar">
                <div class="bubble_two">
                    <p>Bonjour Samia, je suis disponible tous les jours à partir de 18h, possible pour vous ?</p>
                </div>
                <div class="datetime pt-3 px-5">LE 06 MAI À 13h10</div>
            </div>

            <footer class="message-input">
                <textarea id="message" placeholder="Entrer le message ici"></textarea>
                <i class="fa-regular fa-paper-plane"></i>
            </footer>

        </div>

{% endblock %}

{% block javascripts %}
    {{asset('js/overall-no-scrolling.js') }}
    {{asset('js/back.js') }}
{% endblock %}
