{% extends 'base.html.twig' %}

{% block title %}Bennes solidaires - Mes annonces{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset('css/mes-annonces.css') }}>
{% endblock %}


{% block body %}

    {% include 'partials/header.html.twig' %}

     <div class="container" id="container">
            <div class="top_all">
                <div class="form_profil">
                    <p>{{ ('ANNONCE(S) DE ' ~ user.identifier)|trans({}, 'messages')|upper }}</p>
                </div>
                <div class="form_profil">
                    {% set unreadMessagesCount = user.privateMessages|length %}
                    <p>{{ unreadMessagesCount }} {{ ('MESSAGE(S) NON LU(S)')|trans({}, 'messages')|upper }}</p>
                </div>
                <div class="form_profil">
                    <p>{{ ('MEMBRE DEPUIS ' ~ user.memberDate|date('m/Y'))|upper }}</p>
                </div>
            </div>

            <div class="form_profil_large_one">
                <p><a href={{ path('app_mes_annonces') }}>Vos annonces en ligne.</a></p>
            </div>

            <div class="announce">
                {% for announce in userAnnounces %}
                    <div class="form_profil_large_two">
                        <div class="text">
                            <p>Titre de votre annonce : {% if announce.material %}{{ announce.material.material }}{% endif %}</p>
                            <p>Date de publication : {{ announce.createdAt|date('d/m/Y') }}</p>
                        </div>

                        <div class="announce_inline">
                            {% if announce.photo|length > 0 %}
                                <img src="{{ asset('uploads/photos/' ~ announce.photo[0].url) }}" alt="Photo de l'annonce">
                            {% else %}
                                <img src="{{ asset('images/no-image.jpg') }}" alt="Pas de photo">
                            {% endif %}
                        </div>

                        <div class="foot_form">
                            <a href="{{ path('app_annonce_donner_modifier', {'id': announce.id}) }}">
                                <button type="button" class="update_announce">Modifier</button>
                            </a>
                            <div class="section">
                            {{ include ('admin/announces/_delete_form.html.twig', {'announce': announce}, with_context = false) }}
                            </div>
                            {# <a href="#"> #}
                                <!-- AJOUTER PROMPT ALERT ÊTES-VOUS SÛRE ? -->
                                {# <button type="button" class="delete_announce">Supprimer</button> #}
                                {# <form method="POST" action="{{ path('announce_delete', {'id': announce.id}) }}">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ announce.id) }}">
                                    <button type="submit" class="delete_announce">Supprimer</button>
                                </form> #}
                            {# </a> #}
                        </div>
                    </div> 
                {% endfor %}
            </div> 
            {% endblock %}

{% block javascripts %}
    <script src={{ asset('js/overall-no-scrolling.js') }}></script>
{% endblock %}



