{% extends 'base.html.twig' %}

{% block title %}Bennes solidaires - Messagerie{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset('css/header.css') }}>
<link rel="stylesheet" href={{ asset('css/messagerie.css') }}>
{% endblock %}


{% block body %}

    {% include 'partials/header.html.twig' %}

    <section class="all_container">

            <div class="container_one">
            {% for announce in announces %}
                <div class="description_announce">
                    <div class="img_announce">
                    {% if announce.photo|length > 0 %}
                        {% set firstPhoto = announce.photo|first %}
                        <img src="{{ asset('uploads/photos/' ~ firstPhoto.url) }}" alt="Photo annonce">
                    {% else %}
                        <p>Aucune photo disponible.</p>
                    {% endif %}
                </div>

                    <div class="text_announce">
                    <p><span>{{ announce.material }}</span></p>
                    <p>{{ announce.createdAt | date('d/m/Y') }}</p>
                    <a href={{ path('app_annonce_detail', { id : announce.id}) }} class="look_announce">Voir l'annonce</a>
                    </div>

                    <div class="icons_announce">
                        {# FAIRE BOUCLE ANNONCES AVEC LES MESSAGES ENVOYÉS #}
                        <!-- FONCTION DELETE -->
                        <a href=""><i class="fa-solid fa-trash"></i></a>
                        <a href={{ path('app_messagerie_show', { id : announce.id}) }}><i class="fa-regular fa-message"></i></a>
                    </div>
                </div>
            {% endfor %}
            </div>
                <div class="scrollbar" id="style-1">
                    <div class="force-overflow"></div>
                </div>
        </section>

{% endblock %}

{% block javascripts %}
    <script src={{ asset('js/overall-no-scrolling.js') }}></script>
    <script src={{ asset('js/back.js') }}></script>
    <script src={{ asset('js/messagerie.js') }}></script>
{% endblock %}
