{% extends 'base.html.twig' %}

{% block title %}Bennes solidaires - Messagerie{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset('css/header.css') }}>
<link rel="stylesheet" href={{ asset('css/messagerie.css') }}>
{% endblock %}


{% block body %}

    {% include 'partials/header.html.twig' %}

    <section class="all_container">

            <div class="container_one">
                <div class="description_announce">

                    <div class="img_announce">
                        <img src={{ asset('images/20201108_115654.jpeg') }}>
                    </div>

                    <div class="text_announce">
                        <p><span>PAILLE</span></p>
                        <p>Annonce en ligne</p>
                        <p>Barnabé - 4 mai 2024</p>
                        <a href={{ path('app_annonce_detail') }} class="look_announce">Voir l'annonce</a>
                    </div>

                    <div class="icons_announce">
                        <!-- FONCTION DELETE -->
                        <a href=""><i class="fa-solid fa-trash"></i></a>
                        <a href={{ path('app_messagerie') }}><i class="fa-regular fa-message"></i></a>
                    </div>
                </div>
                <div class="scrollbar" id="style-1">
                    <div class="force-overflow"></div>
                </div>
            </div>

            

            <div class="container_two">

                <!-- <div class="nav-two">
                    <h1><span>BARNABÉ</span></h1>
                    <p>En ligne il y a 1h</p>
                </div> -->
                
                <div class="message_user_one">
                    <img src={{ asset('images/BS.webp') }} class="avatar">
                    <div class="bubble_one">
                        <p>Bonjour Barnabé,
                            Je suis intéressée par vos bottes de paille, pouvez-vous me communiquer vos disponibilités
                            pour
                            venir les récupérer ?</p>
                    </div>
                    <div class="datetime_one">LE 06 MAI À 10h12</div>
                </div>

                <div class="message_user_two">
                    <img src={{ asset('images/BS.webp') }} class="avatar">
                    <div class="bubble_two">
                        <p>Bonjour Samia, je suis disponible tous les jours à partir de 18h, possible pour vous ?</p>
                    </div>
                    <div class="datetime_two">LE 06 MAI À 13h10</div>
                </div>

                <div class="message-input">
                    <textarea id="message" placeholder="Votre message..."></textarea>
                    <i class="fa-regular fa-paper-plane"></i>
                </div>
            </div>
        </section>

{% endblock %}

{% block javascripts %}
    <script src={{ asset('js/overall-no-scrolling.js') }}></script>
    <script src={{ asset('js/back.js') }}></script>
    <script src={{ asset('js/messagerie.js') }}></script>
{% endblock %}
