{% extends 'base.html.twig' %}

{% block title %}Bennes solidaires - Inscription{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset('css/header.css') }}>
<link rel="stylesheet" href={{ asset('css/register.css') }}>
{% endblock %}


{% block body %}

    {% include 'partials/header.html.twig' %}

        <div class="container" id="container">
            <section id="inscription">
                <div class="scrolling-text-container">
                    <p class="scrolling-text">Page d'inscription</p>
                    <p class="scrolling-text">Page d'inscription</p>
                    <p class="scrolling-text">Page d'inscription</p>
                    <p class="scrolling-text">Page d'inscription</p>
                </div>
                <div class="bordure mb-4"></div>

                {{ form_start(registrationForm, {
                    'attr' : {
                    'class' : 'registration_form',
                    'role' : 'form',
                    }
                }) }}
                {# <form class="registration_form"> #}
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                    <div class="choice mb-4">
                        <div class="checkbox mb-3">
                            {# <input type="radio" id="particulier" name="user-type" value="particulier">
                            <label for="particulier">Je suis un·e particulier</label>                            #}
                            {{ form_widget(registrationForm.radio)}}
                            {{ form_label(registrationForm.particulier) }}
                        </div>
                        <div class="checkbox">
                            {# <input type="radio" id="professionnel" name="user-type" value="professionnel">
                            <label for="professionnel">Je suis un·e professionnel·le</label> #}
                            {{ form_widget(registrationForm.radio)}}
                            {{ form_label(registrationForm.professional) }}
                        </div>


                        <div class="text_rgpd" id="text_rgpd" style="display: none;">
                            <p>En cochant cette case, vous consentez à ce que nous utilisions les informations
                                concernant
                                votre
                                secteur d'activité pour établir des statistiques internes sur notre site. Ces données
                                seront
                                traitées de manière anonymes et utilisées uniquement dans le but d'améliorer notre
                                service
                                en
                                connaissant mieux notre public.</p>
                        </div>
                    </div>

                    <div class="radio_professionnal" style="display: none;">
                        <label for="activity-select" class="activity-select">Secteur d'activité</label>

                        <select name="activity" id="activity-select" required>
                            <option value="">Choisissez votre secteur d'activité</option>
                            <option value="Éducation et formation">Éducation et formation</option>
                            <option value="Agriculture et agroalimentaire">Agriculture et agroalimentaire</option>
                            <option value="Fabrication et production">Fabrication et production</option>
                            <option value="Énergie et environnement">Énergie et environnement</option>
                            <option value="Immobilier et construction">Immobilier et construction</option>
                            <option value="Construction durable">Construction durable</option>
                            <option value="Aménagement paysager">Aménagement paysager</option>
                            <option value="Restauration et cafés">Restauration et cafés</option>
                            <option value="Architecture">Architecture</option>
                            <option value="Design d'intérieur">Design d'intérieur</option>
                            <option value="Design de mobilier">Design de mobilier</option>
                            <option value="Design d'objet">Design d'objet</option>
                            <option value="Design textile">Design textile</option>
                            <option value="Restauration du patrimoine">Restauration du patrimoine</option>
                            <option value="Menuiserie">Artisanat bois</option>
                            <option value="Charpente">Artisanat céramique et poterie</option>
                            <option value="Maçonnerie">Artisanat maçonnerie</option>
                        </select>
                    </div>

                    {# <label for="firstname">Prénom</label>
                    <input type="text" id="firstname" name="firstname" placeholder="Votre prénom" required> #}
                    {{ form_label(registrationForm.firstname) }}
                    {{ form_widget(registrationForm.firstname)}}

                    {# <label for="lastname">Nom</label>
                    <input type="text" type="lastname" name="lastname" placeholder="Votre nom" required> #}
                    {{ form_label(registrationForm.lastname) }}
                    {{ form_widget(registrationForm.lastname)}}

                    {# <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Votre adresse email" required> #}
                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email)}}

                    <label for="identifier">Identifiant</label>
                    <input type="text" id="identifier" name="identifier" placeholder="Choisir un identifiant" required>
                    {{ form_label(registrationForm.identifier) }}
                    {{ form_widget(registrationForm.identifier)}}

                    {# <label for="password">Mot de passe</label>
                    <input id="password" type="password" name="password" placeholder="Votre mot de passe" required> #}
                    {{ form_label(registrationForm.plainPassword) }}
                    {{ form_widget(registrationForm.plainPassword)}}

                    <label for="password">Confirmation</label>
                    <input id="password" type="password" name="password" placeholder="Confirmer le mot de passe"
                        required>

                    <div class="foot_form">
                        {{ form_widget(registrationForm.agreeTerms) }}
                        <input type="submit" value="Valider mon inscription">
                        <a href={{ path('app_login') }}>Vous possédez déjà un compte ?</a>
                        <a href={{ path('app_login') }}>Cliquez ici !</a>
                    </div>
                        {{ form_end(registrationForm) }}
                {# </form> #}
            </section>
        </div>

    {% endblock %}

{% block javascripts %}
    <script src={{ asset('public/js/overall-scrolling.js') }}></script>
    <script src={{ asset('public/js/inscription.js') }}></script>
{% endblock %}



