{% extends 'base.html.twig' %}

{% block title %}Bennes solidaires - Détails de l'annonce{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset('css/header.css') }}>
<link rel="stylesheet" href={{ asset('css/annonce-detail.css') }}>
{% endblock %}


{% block body %}

    {% include 'partials/header.html.twig' %}

    <div class="container">
    {% for label, messages in app.flashes %}
    <div class="flash-{{ label }}">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endfor %}

        {% set topAllClass = user ? 'top_all' : 'top_all_logged_out' %}
        <div class="info_new_research">
            <div class="{{ topAllClass }}">
                <div class="form_profil">
                    <p>ANNONCE</p>
                </div>
                <div class="form_profil">
                    <p>{{ announce.material|upper }}</p>
                </div>

            {% if user %}
                <div class="form_profil">
                    <p>{{ ('PROFIL DE ' ~ user.identifier)|trans({}, 'messages')|upper }}</p>
                </div>
                <div class="form_profil">
                    {% set unreadMessagesCount = user.privateMessages|length %}
                    <p>{{ unreadMessagesCount }} {{ ('MESSAGE(S) NON LU(S)')|trans({}, 'messages')|upper }}</p>
                </div>
            {% endif %}
            </div>
            <div class="back">
                <a href={{ path('app_rechercher') }}>Effectuer une nouvelle recherche</a>
            </div>
        </div>

            <div class="announce_all">
                <div class="carousel">
                    <button class="carousel__button carousel__button--left is-hidden">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
                    <div class="carousel__track-container">
                    
                    <div class="carousel__slide current-slide">
                        {% for file in announce.photo|slice(0, 3) %}
                            <div class="carousel__slide">
                                <img class="carousel__image" src="{{ asset('uploads/photos/' ~ file.url) }}" alt="Image annonce">
                            </div>
                        {% endfor %}
                    </div>
                    
                    </div>
                    {% if announce.photo|length > 1 %}
                        <button class="carousel__button carousel__button--right">
                            <i class="fa-solid fa-chevron-right"></i>
                        </button>
                    {% endif %}
                    <div class="carousel__nav">
                        {% for i in 1..announce.photo|length %}
                            <button class="carousel__indicator"></button>
                        {% endfor %}
                    </div>
                </div>

                <div class="bordure"></div>

                <div class="form_announce">
                    <div class="announce">
                        <div class="link_member">
                            <div class="text">
                                <p>{{ announce.user.identifier|upper }}</p>
                                {% set announceCount = announce.user.announces|length %}
                                <p>{{ announce.user.id }} ANNONCE{{ announceCount > 2 ? 'S' : '' }}</p>
                            </div>
                        </div>

                        <div class="location">
                            <p><span>LOCALISATION</span></p>
                            <p>{{ announce.geographicalArea }}</p>
                        </div>

                        <div class="classification">
                            <p><span>CLASSIFICATION</span></p>
                            <p>{{ announce.classification }}</p>
                        </div>

                        <div class="materials">
                            <p><span>MATÉRIAU</span></p>
                            <p>{{ announce.material }}</p>
                        </div>

                        <div class="quantity">
                            <p><span>QUANTITÉ</span></p>
                            <p>{{ announce.number }}</p>
                        </div>

                        <div class="value">
                            <p><span>VALEUR</span></p>
                            <p>{{ announce.volume }}</p>
                        </div>

                        <div class="description">
                            <p><span>DESCRIPTION</span></p>
                            <p>{{ announce.description }}</p>
                        </div>

                        <div class="foot_form">
                        {% if user %}
                            <a href="{{ path('app_messagerie', {'id': announce.id }) }}">
                                <button class="send_message">Message</button>
                            </a>
                        {% else %}
                        <button class="send_message" onclick="showModal()">Message</button>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="delete-account-modal" class="modal">
            <div class="modal-content">
                <p>Vous devez être connecté·e pour envoyer un message.</p>
                <div class="modal-footer">
                    <a href="#" id="confirm-delete-btn" class="modal-close waves-effect waves-green btn-flat">Ok</a>
                </div>
            </div>
        </div>
        

{% endblock %}

{% block javascripts %}
    <script src={{ asset('js/overall-carousel.js') }}></script>
    <script src={{ asset('js/carousel.js') }}></script>
    <script src={{ asset('js/annonce-detail.js') }}></script>
{% endblock %}
